


<h1 class="mytitle">Share Chat</h1>
<div class="messa">
<form action="/<%= @content.id %>/chat" method = "post">
  <input class="input-text" type="text" name="message" placeholder="message">
  <input class="submit-btn" type="submit" value="Message">
</form>
</div>
<div class="chats">
<% unless @chats.nil? %>


<div class="chat_jibun">
<h3 class="chat_name"><%= current_user.name %></h3>
  <% @chats.each do |chat| %>

    <% if chat.user_id == current_user.id %>


      <li class="jibun"><p class="comment"><%= chat.message %></p></li>

    <% end %>
  <% end %>
</div>
<div class="chat_aite">



<% if @chats.where.not(user_id: current_user.id).present? %>
  <% if current_user.id == @content.user_id %>
            <h3 class="chat_name">
              <%= User.find_by(id: @content.custome_id).name %>
            </h3>
        <% elsif current_user.id == @content.custome_id  %>
            <h3 class="chat_name">
              <%= User.find_by(id: @content.user_id).name %>
            </h3>
  <% end %>

        <% @chats.where.not(user_id: current_user.id).each.each do |chat| %>
            <li class= "aite"><p class="comment"><%= chat.message %> </p></li>
        <% end %>
<% end %>


  <% @chats.each do |chat| %>
    <% unless chat.user_id == current_user.id %>
      <% if chat.user_id == @content.user_id %>


          <li class="aite"> <p class="comment"><%= chat.message %></p></li>



      <% elsif chat.user_id == @content.custome_id %>



          <li class= "aite"><p class="comment"><%= chat.message %> </p></li>




      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>
</div>
