


      <div class="group_content">
      <h1 class="mytitle8"><%= @group.group_name  %>グループ</h1><br>

     <div class="urls">

      <% if current_user.point > 0  %>
      <a class="url5" href="/group/<%= @group.id %>/post" >依頼</a>
      <% else %>
      <p class="url6">依頼サービスは使えません</p>
      <% end %>
       <a  class="url6" href="/groupout">グループから退出</a>
      </div>
    <div class="ranking">
    <h2 class="mytitle9">グループランキング</h2>
    <% @ranks.each_with_index do |rank,idx|%>
      <li class="rank"><%= idx+1 %>位  <%= rank.name%>さん   <%= rank.point%>ポイント</li>
    <% end %>
    </div>


      <% @contents.each do |content|%>
  <% if content.custome_id.nil? %>
  <% if content.group_id == @group.id %>

        <div>
          <div class="content">
          <% unless content.user.id == current_user.id %>
            <form action="/group/<%= @group.id %>/<%= content.id %>/offer" method="post">
            <input class="edit" id="offer" type="submit" value="申請">
            <label class="head2" for="offer">
    <div class="head">
      <p class="pen">Share Board</p><br>
      <p class="edit_name">Offer</p>
    </div></label>
       </form>
    <% else %>
    <form action="/group/<%= @group.id %>/<%= content.id %>/edit">
    <input class="edit" id="edit" type="submit" value="編集">
    <label class="head2" for="edit">
    <div class="head">
      <p class="pen">Share Board</p><br>
      <p class="edit_name">Edit</p>
    </div></label>
    </form>
  <% end %>
   <p class="content_name"><%= content.user.name %>さん</p>
      <div class="scription">
            <h2 class="content_title"><%= content.board_title %></h2>


            <p class="content_script"><%= content.board_content %></p>
</div>
          </div>

        </div>
        <% end %>
        <% end %>
  <% end %>

  </div>
