<% if !current_user.nil? %>
<div class="header">
  <h1 class="mytitle5">My page</h1>
<div class="header_info">
	<div class="group_links">

	<h3 class="secondtitle1">所属グループ</h3>

	   <% @groups.each do |group|%>
　
	    <% if group.usergroups.find_by(user_id: current_user.id).present?  %>

        <%# <div group10> %>
          <li class="group_link"><a class ="jump" href ="/group/<%= group.id %>"><%= group.group_name  %>グループへ</a></li>
	       <%# </div> %>
	    <% end %>
	  <% end %>

	</div>
	<div class="informed">

	<h3 class="secondtitle2">通知</h3>

	<% @contents.each do |content| %>

	  <% if content.confirm_date.present? %>
    	<% if (Date.today - content.confirm_date).to_i < 3 %>
	      <% if content.user.id == current_user.id %>
	      <li class="group_link2"><%= User.find_by(id: content.custome_id).name %>さんとの取引が終わりました。</li>
	  	  <% end %>
    	<% end %>
    <% if (Date.today - content.confirm_date).to_i < 1  %>
		  <% if content.custome_id == current_user.id %>
	    	<li class="group_link2"> <%= User.find_by(id: content.user.id).name %>さんとの取引が終わりました。</li>
		  <% end %>
    <% end %>
	<% end %>

	<% end %>

	</div>

	</div>
	</div>
	<h2 class="thirdtitle">依頼リスト</h2>

	<% @contents.each do |content|%>

	  <% if !content.custome_id.nil? %>

    <% if content.user.id == current_user.id %>
		<% if content.confirm_date.nil?%>
		<div class="trade">
　　  <div class="trade_head">
      <h2 class="subject2"><%= content.board_title %></h2>
				<p class="content_script2"><%= content.board_content%></p>
　    </div>

      <% unless current_user.qr_img.empty? %>

        <img class="line2" src="<%= content.qr_img %> " height ="100px">

      <% end %>
      <div class="names">
			  <p class=><%= content.user.name %></p>
      </div>
			<% unless content.complete?%>
        <form action="/<%= content.id %>/done" method="post">
				  <input id="complete" type="submit" value="完了">
          <label for="complete">
					  <div class="comp">
              Finish
						</div>
					</label>

				</form>
			<% else %>
			  <p class="content_script2">確認まち</p>
			<% end %>
    <a class="chat_link" href="/<%=content.id %>/chat">chat
    </a>
		</div>
		<% end %>
    <% end %>
		<% if content.custome_id == current_user.id %>
		<% if content.confirm_date.nil?%>
	  <div class="trade">
    <div class="trade_head">
      <h2 class="subject"><%= content.board_title %></h2>
			<p class="content_script2" ><%= content.board_content%></p>
			</div>

      <% unless current_user.qr_img.empty? %>

        <img class="line" src="<%= content.qr_img %> " height ="100px"> <br>

      <% end %>
			<div class="names">
			<p class= ""><%= content.user.name%></p>
			</div>

			<% unless content.complete?%>
        <p class="content_script2">ただいま作業中です</p>
			<% else %>
　　　　　<form action="/<%=content.id%>/evaluate" method="post">

        <input id="confirm" type="submit" value="Confirm" name ="evaluation">
				<label for="confirm">
				  <div class="comp">
					  confirm
					</div>
				</label>
        </form>
			<% end %>
<a class="chat_link" href="/<%=content.id %>/chat">chat
    </a>
		</div>
		<% end %>
    <% end %>

  <% end %>

	<% end %>

	   <% else %>


<h2 class="mobile_title">Share Board</h2>
      <div class="home">

        <div class="links">
        <a class="link" href="/signin">Login</a>
        <a class="link" href="/signup">Signup</a>
        <a class="link" href="/about">About</a>
        </div>
      </div>
<% end %>
