<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Share Board</title>
</head>
<body>
  <nav>


      <ul>
      <% if !current_user.nil? %>
       <a href="/">Share Board</a>
      <li>こんにちは、<%= current_user.name  %>さん</li><br>
      <li>ただいまのポイント <%= current_user.point %> 点</li>
      <% unless current_user.qr_img.empty? %>
        <img src="<%= current_user.qr_img %> " height ="100px"> <br>
      <% end %>

      <% if !current_group.nil? %>
      <li>ようこそ,
      <%= current_group.group_name  %>グループへ</li><br>
      <li><a href="/groupout">グループから退出</a></li>



      <a href="/post" >依頼</a><br>

      <a href= "/board">案件ページ</a>
      <% else %>
      <a href ="/groupin">グループへログイン</a>
      <a href ="/groupup">グループを作成</a>


      <% end %>




      <li><a href="/signout">ログアウト</a></li>

      <% else %>



      <div class="home">
        <div class="links">
        <a class="link" href="/signin">Login</a>
        <a class="link" href="/signup">Signup</a>
        <a class="link" href="/about">About</a>
        </div>
      </div>
        <% end %>
      </ul>

  </nav>
<%= yield %>
</body>
</html>